@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(252, 250, 250)
    /* background-color: rgb(8, 8, 8); */

}

*{
    margin: 0;
   
}

.homepage{
  width: 60px;
  height: 60px;
  /* border: 1px solid rgb(155, 153, 153); */
  background-color: rgb(248, 238, 238);
  border-radius: 5px;
  object-fit: cover;
  /* padding: 5px; */
  margin: 0px;
}
.banner2{
    height: 170px;
    margin:auto;
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgb(223, 219, 219);
    background-image: url("Image/red.jpg");
    color: rgb(255, 255, 255);
    padding-top: 5px;
   
}
.Heading2{
    font-size: 25px;
    font-family: "Lexend", sans-serif;
        float: left;
        padding: 15px;
        color: rgb(29, 29, 29);
        margin-left: 30px;
}
.Heading3{
    font-size: 15px;
    font-family: "Lexend", sans-serif;
        float: left;
        /* display: flex; */
        /* padding: 15px; */
        color: rgb(29, 29, 29);
        margin-left: 28px;
        margin-top: -8px;
}

.gascylinder{
    height: 110px;
    float: right;
    margin-right: 118px;
    margin-top:15px;
    /* box-shadow: white; */
    border: 1px;
  }
 

  .headingpara2{
    color: rgb(255, 255, 255);
    margin-top: 55px;
    margin-left: 125px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lexend", sans-serif;
}

.gasorderbutton{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    /* margin-left: 30px; */
    font-style: normal;
    margin-top: 30px;
    font-weight: 200;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #360e64;
    border-radius: 9px;
    background-color:  rgb(13, 197, 136);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    font-weight: 400;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
  .gasorderbutton:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 250;
  }
  .gasorderbutton{
    /* float: left; */
    margin-right: 99px;
    
  
}
.conatiner{
    width: 100%;
    /* border-radius: 5px; */
    height: 30%;
    display: flex;
    /* border: 1px solid rgb(61, 141, 61);
    background-color: rgb(179, 238, 179); */
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
    

}
.samedaydelivery{
    width: 40%;
    height: 60px;
    /* border: 1px solid rgb(155, 153, 153); */
    background-color: rgb(255, 196, 0);
    border: 1px solid rgb(141, 143, 141);
    
    border-radius: 5px;
    object-fit: cover;
    /* padding: 5px; */
    margin: 5px;
}
.repairbox{
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 21px;
    text-align: center;
    /* padding-top: -25px; */
    /* margin-top: 25px; */
    display: flex;

}
.boximage{
    height: 45px;
    filter: invert(24%) sepia(34%) saturate(4700%) hue-rotate(342deg) brightness(84%) contrast(95%);
    padding: 15px;
}
.conatinerbanner{
  width: 90%;

  height: 45%;
 
  justify-content: space-around;
  
  /* margin-top: 25%; */
  margin: auto;


  
}
.bannerdelivery{

  width: 100%;
  margin-top: 5%;
    height: 100px;
    /* border: 1px solid rgb(155, 153, 153); */
    /* background-color: rgb(248, 238, 238);     */
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid rgb(220, 221, 220);
    /* background-image: url("Image/pattern.png"); */
    /* padding: 5px; */
    /* margin-top: 15px; */
}
.bannerdeliveryimage{
  height: 120px;
  /* z-index: 5px; */
  float: right;
  margin-top: -66px;
  
}
.bannerparagraphs{
  font-family: "Lexend", sans-serif;
      margin-left: 25px;
      color: #c21c1c;
      padding-top: 10px;
      font-size: 12px;

}
.bannerdelivery1{
  width: 90%;
  margin-top: -35px;
  height: 90px;
  /* border: 1px solid rgb(155, 153, 153); */
  background-color: rgb(248, 238, 238);
  /* background-image: url("Image/pattern.png"); */
      


  border-radius: 5px;
  object-fit: cover;
  /* padding: 5px; */
  margin: 15px;
}
.Registernow{
  font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    margin-left: 30px;
    font-style: normal;
    margin-top: 30px;
    font-weight: 200;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #360e64;
    border-radius: 9px;
    background-color:  rgb(13, 197, 136);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    font-weight: 400;
    transition: all  .2s ease;
    text-decoration: none;
}

.os{
    height: 70px;
    width: 120px;
    padding: 12px;
    
}
.Operating1{
    font-family: "Lexend", sans-serif;
    font-size: 10px;
    /* margin-top: -50px; */
    text-align: center;
    font-weight: 400;
    /* margin-left: 5px; */
    margin-top: 5px;
}
.Operating{
    font-family: "Lexend", sans-serif;
    font-size: 13px;
    /* margin-top: -50px; */
    text-align: center;
    margin-left: 35px;
    margin-top: -75px;

}
.repairbutton{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    margin-left: 30px;
    font-style: normal;
    margin-top: 30px;
    font-weight: 200;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6fc8d;
    border-radius: 9px;
    background-color:  rgb(12, 148, 12);
    padding: 0.625rem 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    font-weight: 400;
    transition: all  .2s ease;
    text-decoration: none;
  }
  .repairbutton{
    float: right;
    margin-right: 15px;
    margin-top: -20px;
  }
  .upheader{
    background-image: url("Image/food.jpg");
    height: 100px;
    margin-bottom: 30px;
    font-size: 7px;
    text-align: center;
  
  }
  .BodhGayabanner{
        text-decoration: none;
        color: rgb(36, 36, 36);
        font-family: "Lexend", sans-serif;
        padding-top:25px;

        
  }
  .BodhGayabanner2{
    text-decoration: none;
    color: rgb(30, 94, 0);
    font-family: "Lexend", sans-serif;
    /* padding-top:25px; */
    font-weight: 700;
    margin-top: 5px;
    font-size: 10px;

    
}


/*--------------------------------------------------------------------- Responsive */
@media only screen and ( max-width:400px){
  .bannerparagraphs{
    margin-top: 3px;
  }
  
  
  .conatiner{
    margin-top: -40px;
  }
  .bannerdelivery1{
    margin-top: -45px;
    border: 1px solid rgb(220, 221, 220);
  }
  .Registernow{
   
padding: 5px 5px;
border-radius: 4px;
background-color: #d82626;
font-size: 10px;
border: none;
margin-top: 9px;
margin-left: 23px;

  }
  .boximage{
    height: 35px;
    justify-content: center;
  }
  .banner2{
    border-radius: 10px;
    width: 90%;
    height: 25%;
    background-image: url("Image/food.jpg");
    border: 1px solid rgb(121, 119, 119);
  }
    h5{
      font-family: "Lexend", sans-serif;
      margin-left: 25px;
      margin-top: 35px;
    }
    
    .gasorderbutton{
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        margin-left: 30px;
        font-style: normal;
        margin-top: 30px;
        font-weight: 200;
    
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #b6fc8d;
        border-radius: 9px;
        background-color:  rgb(12, 148, 12);
        padding: 0.625rem 1.5rem;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        outline: 0;
        font-weight: 400;
        transition: all  .2s ease;
        text-decoration: none;
      }
      .Heading2{
        margin-left: 10px;
      }
      .gascylinder{
        height: 150px;
        float: right;
        margin-right: 1px;
        margin-top:-135px;
        /* box-shadow: white; */
        border: 1px;
      }
      
      .gasorderbutton:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        font-weight: 250;
      }
      .gasorderbutton{
        float: left;
    }
    
    
   
}
